body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background: #111;
	display: flex;
	justify-content: center;
	align-content: center;
}
.container {
	min-width: 600px;
	min-height: 300px;
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
  background: radial-gradient(transparent, black), hotpink;
  opacity: 1;
}


.img {
	min-width: 600px;
	min-height: 300px;
	width: 100vw;
	height: 100vh;
	background: url(danganronpa_monokuma.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	filter: contrast(1) brightness(0.0);
	opacity: 0.85;
	animation-name: lightning;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
  /*animation-name: addLi;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;*/
}
/*.container:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent, black), hotpink;
  opacity: 0.2;
}
*/


.hud-container {
  position: absolute;
  top: 0;
  left: 0;

}
.header {
  min-height: 5vh;
/*  background: #222;*/
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0 0 20px;
}

.header img {
  height: 40px;
}


.pos-bar  {
  width: 100vw;
/*  background: #222;*/
  position: relative;
  padding: 0px 0 0 20px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;

}
.pos-bar p {
  color: #fff;
  margin-right: 10px; 
  font-family: 'Open Sans', sans-serif;
/*  font-variant: small-caps;*/
  /*text-transform: uppercase;*/
  font-size: 0.9em;
  opacity: 0.5;
  transition: opacity 1s;
}
.pos-bar img{
  margin-right: 10px;
  height: 6px;
  width: 5px;
  opacity: 0.5;
}

.hud-container .positionline {
  height: 20px;
  margin: 5px 40px 10px 20px;
  position: relative;
}

.positionline .line {
  width: 100%;
  height: 2px;
  top: 5px;
  background: rgba(50,200,255,0.4);
  position: absolute;
/*  transition: width 1s;*/
}

.positionline .line:nth-child(2) {
  background: #222;
  width: 20%;
}

.positionline .line:nth-child(2):after {
  content: ".";
  width: inherit;
  height: 10px;
  top: 0;
  left: 0;
  background: #fff;
  position: absolute;
}

.line .cycle {
  width: 100%;
  position: relative;
  right: -0px;
  top: 1px;
  color: #fff;
  text-align: right;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 8px;
}

.button-bar {
  margin-left: 20px;
}

.button-bar button {
  height: 30px;
  width: 75px;
  font-size: 0.8em;
  background: rgba(0,0,0,0.1);
  border: 1px solid #fff;
  color: #2ff;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  outline: none;
  transition: 0.1s background ease-out; 
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button-bar button:active {
  background: #fff;
  color: #2aa;
}

.params {
  width: 80vw;
  height: 80vh;
  position: absolute;
  background: rgba(255,255,255,0.8);
  top: 10vh;
  left: 100vw;
  transition: 0.15s left cubic-bezier(0,.84,.65,1.07);
}

.controls {
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.1);
  width: 100%; 
  display: flex; 

}

.params h3 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 1.5em;
}

.params form {
  background: rgba(0,0,0,0.00);
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content:center;
  align-items: center;
  width: 96%;
  position: relative;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.params img {
  width: 24px;
  filter: invert(1);
}

.check {
  margin: 0;
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px;
/*  top: 0px;
  left: 3px;*/
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
  margin-left: 10px;

}
.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.check svg {
  position: relative;
  z-index: 1;
  fill: rgba(0,255,255,0.4);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #222;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}
.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}
.check:hover:before {
  opacity: 1;
}
.check:hover svg {
  stroke: #222;
}


#cbx1:checked + .check svg {
  stroke: #222;
}
#cbx1:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cbx1:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}


#cbx2:checked + .check svg {
  stroke: #222;
}
#cbx2:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cbx2:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}


#cbx3:checked + .check svg {
  stroke: #222;
}
#cbx3:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cbx3:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}


#cbx4:checked + .check svg {
  stroke: #222;
}
#cbx4:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cbx4:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}


#cbx5:checked + .check svg {
  stroke: #222;
}
#cbx5:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cbx5:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}



.input-text {
  background: #fff;
  outline: none;
  border: 1.45px solid #222;
  border-radius: 5px;
  width: 100px;
  height: 18px;
  width: 75px;
  padding: 2px;
  font-family: 'Open Sans', sans-serif;
  background: rgba(0,255,255,0.4);
  letter-spacing: 1px;
  font-weight: 600;
  margin-left: 10px;
}
.input-text:disabled {
  background: rgba(0,0,0,0.4);
}

form .select {
  border: 2px solid #222;
  width: 120px;
  height: 26px;
  outline: none;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  background: rgba(0,255,255,0.4);
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 0.6rem;
  position: relative;
  margin-left: 10px;
}

form .button {
  height: 26px;
  width: 75px;
  font-size: 0.8em;
  background: rgba(0,0,0,0.1);
  border: none;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  outline: none;
  transition: 0.1s background ease-out; 
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 20;
  opacity: 1;
  margin-left: 10px;
}
form .button:active {
  background: #222;
  color: #fff;
}

.params .ranges {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.params .ranges p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    margin: 5px;
}
.ranges div input {
  outline: none;
  background: rgba(0,255,255,0.4);
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #222;
  border-radius: 5px;
}



.ranges div input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
    background: #2ff;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.2)
}

.ranges .rangeview {
  border: 1px solid #222;
  height: 20px;
  width: 20px;
  margin-bottom: 4px;
  border-radius: 5px;
  font-family: 'Bai Jamjuree', Courier New;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.controls button {
  color: #fff;
  cursor: pointer;
  background: #111;
  font-size:10px;
  font-weight: 400;
  margin: 15px 10px 15px 15px;
  width: 50px;
  height: 20px;
  position: relative;
  text-decoration: none;
  border: none;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: -20px;
  text-shadow: none;
  transition: all 0.2s ease-in;
  box-sizing: border-box;
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  opacity: 1;
  border-right: 2px solid #5df;
  letter-spacing: 1px;
  font-family: 'Bai Jamjuree', Courier New;
}

.controls button:hover {
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
  opacity: 1;
}


.controls .status {
  min-width: 100px;
  height: 24px; 
  margin: 12px 0px 12px 12px;
  padding: 0;
  top:35px;
  left: 4px;
  position: absolute;
  box-sizing: border-box;
  color: #fff;
}


.statuscontainer {
  position: absolute;
  top: 0;
  left: 0;  
  width: 100%;
  height: 100%;
}
.statuscontainer li {
  font-family: 'Bai Jamjuree', Courier New;
  font-weight: lighter;
  font-size: 8px;
  list-style-type: none;
  letter-spacing: 0.3px;
  background: rgba(50,200,255,0.05);
  margin: 4px 0px 4px 0px;
  padding: 3px;
  border-right: 2px solid #5df;
}

.console {
	position: absolute;
	bottom: 0px;
	min-width: 600px;
	width: 100vw;
	max-height: 50vh;
	color: #fff;
  font-family: 'Bai Jamjuree', Courier New;
	font-weight: lighter;
	font-size: 10px;
	font-variant: small-caps;
	letter-spacing: 1px;
	overflow-y: scroll;
  overflow-x: hidden;
	padding:2px 14px 5px 10px;
	opacity: 1;
 /* transition: 1s all;*/
  margin-bottom: 5px;
}

/*.consoleLayer {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 15px;
  right: 15px;
  top: 40vh;
  opacity: 0.8;
  border: 1px solid #222; 
  border-right: 2px solid #5df;
}*/
/*.consoleLayer:after {
  content: "Log";
  font-family: 'Bai Jamjuree', Courier New;
  color: #fff;
  padding-left:3px;
  padding-top:2px;
  position: absolute;
  background: #222;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  box-sizing: border-box;
}*/

.console ul {
  padding: 0;
  padding-left: 10px;
}

.console ul li {
/*  background: rgba(255,255,255,0.2);*/
  color: #fff;
  list-style-type: none;
  margin: 0px;
  width: 90%;
 /* animation-name: lightning;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;*/
  animation-name: addLionLi;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  position: relative;
  opacity: 0.2;
}

.console ul li:nth-last-child(15) {
  opacity: 0.3;
}
.console ul li:nth-last-child(14) {
  opacity: 0.35;
}
.console ul li:nth-last-child(13) {
  opacity: 0.4;
}
.console ul li:nth-last-child(12) {
  opacity: 0.45;
}
.console ul li:nth-last-child(11) {
  opacity: 0.5;
}
.console ul li:nth-last-child(10) {
  opacity: 0.55;
}
.console ul li:nth-last-child(9) {
  opacity: 0.6;
}
.console ul li:nth-last-child(8) {
  opacity: 0.65;
}
.console ul li:nth-last-child(7) {
  opacity: 0.7;
}
.console ul li:nth-last-child(6) {
  opacity: 0.75;
}
.console ul li:nth-last-child(5) {
  opacity: 0.8;
}
.console ul li:nth-last-child(4) {
  opacity: 0.85;
}
.console ul li:nth-last-child(3) {
  opacity: 0.9;
}
.console ul li:nth-last-child(2) {
  opacity: 0.95;
}
.console ul li:nth-last-child(1) {
  opacity: 1;
}

.console ul li:before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 10px;
  background: url(spinner.svg);
  background-size: cover;
}


@keyframes addLionLi {
  0% {
    left: 200px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@keyframes addLi {
  0% {
    filter: contrast(2) brightness(0.0);
  }
  5% {
    filter: contrast(1) brightness(2);
  }
  100% {
    filter: contrast(2) brightness(0.0);
  }
}

@keyframes lightning {
	0% {
    filter: contrast(2) brightness(0.0);
  }
  10% {
    filter: contrast(2) brightness(0.1);
  }
  10.1% {
    filter: contrast(2) brightness(0.2);
  }
  10.2% {
   filter: contrast(2) brightness(0.0);
  }
  20% {
    filter: contrast(2) brightness(0.0);
  }
  20.1% {
    filter: contrast(1) brightness(0.3);
  }
  20.6% {
   filter: contrast(1) brightness(0.3);
  }
  30% {
    filter: contrast(2) brightness(0.0);
  }
  30.1% {
    filter: contrast(2) brightness(0.1);
  }
  30.5% {
    filter: contrast(2) brightness(0.2);
  }
  30.6% {
    filter: contrast(2) brightness(0.0);
  }
  45% {
    filter: contrast(2) brightness(0.0);
  }
  45.1% {
    filter: contrast(2) brightness(0.0);
  }
  50% {
    filter: contrast(2) brightness(0.1);
  }
  55% {
    filter: contrast(1) brightness(0.2);
  }
  55.1% {
    filter: contrast(2) brightness(0.0);
  }
  57% {
    filter: contrast(2) brightness(0.0);
  }
  57.1% {
    filter: contrast(2) brightness(0.1);
  }
  60% {
    filter: contrast(2) brightness(0.2);
  }
  60.1% {
    filter: contrast(2) brightness(0.0);
  }
  65% {
    filter: contrast(2) brightness(0.0);
  }
  65.1% {
    filter: contrast(2) brightness(0.1);
  }
  75% {
    filter: contrast(2) brightness(0.2);
  }
  75.1% {
    filter: contrast(2) brightness(0.0);
  }
  77% {
    filter: contrast(2) brightness(0.0);
  }
  77.1% {
    filter: contrast(2) brightness(0.1);
  }
  85% {
    filter: contrast(2) brightness(0.2);
  }
  85.1% {
    filter: contrast(2) brightness(0.0);
  }
  86% {
    filter: contrast(2) brightness(0.0);
  }
  86.1% {
    filter: contrast(2) brightness(0.1);
  }
  100% {
    filter: contrast(2) brightness(0.4);
  }
}


footer {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px 10px;
  font-size: 0.6em;
}