body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background: #111;
	display: flex;
	justify-content: center;
	align-content: center;
}
.container {
	min-width: 600px;
	min-height: 300px;
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
  background: radial-gradient(transparent, black), hotpink;
  opacity: 1;
}


.img {
	min-width: 600px;
	min-height: 300px;
	width: 100vw;
	height: 100vh;
	background: url(danganronpa_monokuma.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	filter: contrast(1) brightness(0.0);
	opacity: 0.85;
	animation-name: lightning;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
  /*animation-name: addLi;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;*/
}
/*.container:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent, black), hotpink;
  opacity: 0.2;
}
*/
.controls {
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.1);
  width: 100%; 
  display: flex; 

}
.controls button {
  color: #fff;
  cursor: pointer;
  background: #111;
  font-size:10px;
  font-weight: 400;
  margin: 15px 10px 15px 15px;
  width: 50px;
  height: 20px;
  position: relative;
  text-decoration: none;
  border: none;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: -20px;
  text-shadow: none;
  transition: all 0.2s ease-in;
  box-sizing: border-box;
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  opacity: 1;
  border-right: 2px solid #5df;
  letter-spacing: 1px;
  font-family: 'Bai Jamjuree', Courier New;
}

.controls button:hover {
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
  opacity: 1;
}
.controls .positionline {
  width: 100%;
  height: 20px;
  right: 0;
  margin: 15px 15px 15px 50px;
  position: relative;
}
.positionline .line {
  width: 100%;
  height: 10px;
  top: 5px;
  background: rgba(50,200,255,0.4);
  position: absolute;
/*  transition: width 1s;*/
}
.positionline .line:nth-child(2) {
  background: #222;
  width: 20%;
}
.positionline .line:nth-child(2):after {
  content: ".";
  width: inherit;
  height: 10px;
  top: 0;
  left: 0;
  background: #fff;
  position: absolute;
}

.line .cycle {
  width: 100%;
  position: relative;
  right: -0px;
  top: 1px;
  color: #fff;
  text-align: right;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 8px;
}
/*.line .cycle:after {
content: "11:08";
color:#fff;
font-size: 10px;
position: relative;
right: -8px;
top: 5px;
}*/

.controls .status {
  min-width: 100px;
  height: 24px; 
  margin: 12px 0px 12px 12px;
  padding: 0;
  top:35px;
  left: 4px;
  position: absolute;
  box-sizing: border-box;
  color: #fff;
}
.

.statuscontainer {
  position: absolute;
  top: 0;
  left: 0;  
  width: 100%;
  height: 100%;
}
.statuscontainer li {
  font-family: 'Bai Jamjuree', Courier New;
  font-weight: lighter;
  font-size: 8px;
  list-style-type: none;
  letter-spacing: 0.3px;
  background: rgba(50,200,255,0.05);
  margin: 4px 0px 4px 0px;
  padding: 3px;
  border-right: 2px solid #5df;
}

.console {
	position: absolute;
	bottom: 0px;
	min-width: 600px;
	width: 100vw;
	max-height: 50vh;
	color: #fff;
  font-family: 'Bai Jamjuree', Courier New;
	font-weight: lighter;
	font-size: 10px;
	font-variant: small-caps;
	letter-spacing: 1px;
	overflow-y: scroll;
  overflow-x: hidden;
	padding:2px 14px 5px 16px;
	opacity: 1;
  transition: 1s all;
  margin-bottom: 5px;
}

.consoleLayer {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 15px;
  right: 15px;
  top: 40vh;
  opacity: 0.8;
  border: 1px solid #222; 
  border-right: 2px solid #5df;
}
.consoleLayer:after {
  content: "Log";
  font-family: 'Bai Jamjuree', Courier New;
  color: #fff;
  padding-left:3px;
  padding-top:2px;
  position: absolute;
  background: #222;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  box-sizing: border-box;
}

.console ul {
  padding: 0;
  padding-left: 10px;
}

.console ul li {
/*  background: rgba(255,255,255,0.2);*/
  color: #fff;
  list-style-type: none;
  margin: 0px;
  width: 90%;
 /* animation-name: lightning;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;*/
  animation-name: addLionLi;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  position: relative;
  opacity: 0.2;
}

.console ul li:nth-last-child(15) {
  opacity: 0.3;
}
.console ul li:nth-last-child(14) {
  opacity: 0.35;
}
.console ul li:nth-last-child(13) {
  opacity: 0.4;
}
.console ul li:nth-last-child(12) {
  opacity: 0.45;
}
.console ul li:nth-last-child(11) {
  opacity: 0.5;
}
.console ul li:nth-last-child(10) {
  opacity: 0.55;
}
.console ul li:nth-last-child(9) {
  opacity: 0.6;
}
.console ul li:nth-last-child(8) {
  opacity: 0.65;
}
.console ul li:nth-last-child(7) {
  opacity: 0.7;
}
.console ul li:nth-last-child(6) {
  opacity: 0.75;
}
.console ul li:nth-last-child(5) {
  opacity: 0.8;
}
.console ul li:nth-last-child(4) {
  opacity: 0.85;
}
.console ul li:nth-last-child(3) {
  opacity: 0.9;
}
.console ul li:nth-last-child(2) {
  opacity: 0.95;
}
.console ul li:nth-last-child(1) {
  opacity: 1;
}

.console ul li:before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 10px;
  background: url(spinner.svg);
  background-size: cover;
}


@keyframes addLionLi {
  0% {
    left: 200px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@keyframes addLi {
  0% {
    filter: contrast(2) brightness(0.0);
  }
  5% {
    filter: contrast(1) brightness(2);
  }
  100% {
    filter: contrast(2) brightness(0.0);
  }
}

@keyframes lightning {
	0% {
    filter: contrast(2) brightness(0.0);
  }
  10% {
    filter: contrast(2) brightness(0.1);
  }
  10.1% {
    filter: contrast(2) brightness(0.2);
  }
  10.2% {
   filter: contrast(2) brightness(0.0);
  }
  20% {
    filter: contrast(2) brightness(0.0);
  }
  20.1% {
    filter: contrast(1) brightness(0.3);
  }
  20.6% {
   filter: contrast(1) brightness(0.3);
  }
  30% {
    filter: contrast(2) brightness(0.0);
  }
  30.1% {
    filter: contrast(2) brightness(0.1);
  }
  30.5% {
    filter: contrast(2) brightness(0.2);
  }
  30.6% {
    filter: contrast(2) brightness(0.0);
  }
  45% {
    filter: contrast(2) brightness(0.0);
  }
  45.1% {
    filter: contrast(2) brightness(0.0);
  }
  50% {
    filter: contrast(2) brightness(0.1);
  }
  55% {
    filter: contrast(1) brightness(0.2);
  }
  55.1% {
    filter: contrast(2) brightness(0.0);
  }
  57% {
    filter: contrast(2) brightness(0.0);
  }
  57.1% {
    filter: contrast(2) brightness(0.1);
  }
  60% {
    filter: contrast(2) brightness(0.2);
  }
  60.1% {
    filter: contrast(2) brightness(0.0);
  }
  65% {
    filter: contrast(2) brightness(0.0);
  }
  65.1% {
    filter: contrast(2) brightness(0.1);
  }
  75% {
    filter: contrast(2) brightness(0.2);
  }
  75.1% {
    filter: contrast(2) brightness(0.0);
  }
  77% {
    filter: contrast(2) brightness(0.0);
  }
  77.1% {
    filter: contrast(2) brightness(0.1);
  }
  85% {
    filter: contrast(2) brightness(0.2);
  }
  85.1% {
    filter: contrast(2) brightness(0.0);
  }
  86% {
    filter: contrast(2) brightness(0.0);
  }
  86.1% {
    filter: contrast(2) brightness(0.1);
  }
  100% {
    filter: contrast(2) brightness(0.4);
  }
}
